@import 'ag-grid-community/styles/ag-grid.css'; 
@import 'ag-grid-community/styles/ag-theme-alpine.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.required:after {
  content: "*";
  color: Red;
}
.errMes {
  color: #b02a37;
  width: 100%;
  font-size: .875em;
}

.logo {
  vertical-align: middle;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
}

.spinner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #7c777780;
  z-index: 1100;
}
.spinner .spinner-loader {
  animation: spinner 1s linear 0s infinite;
  z-index: 1100;
 
}
.spinner .spinner-loader i {
  color: #74a1e4;
  font-size: 3rem;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}